@cls-prefix: li-map-container;

.@{cls-prefix} {
  position: relative;
}

.@{cls-prefix} :global(.l7-control-attribution) {
  display: none !important;
}

.@{cls-prefix} :global(.amap-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.amap-copyright) {
  display: none !important;
}

.@{cls-prefix} :global(.l7-larkmap-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.mapboxgl-ctrl-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.mapboxgl-ctrl-attrib) {
  display: none !important;
}

.@{cls-prefix} :global(.l7-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.l7-control-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.antv-l7-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.l7-ctrl-logo) {
  display: none !important;
}

.@{cls-prefix} :global(.larkmap-logo) {
  display: none !important;
}

.@{cls-prefix} :global(a[href*="l7.antv.antgroup.com"]) {
  display: none !important;
}
